
/* Övning 6*/
.first-row {
    display: flex;
    flex-direction: row;
}

.second-row {
    display: flex;
    flex-direction: row;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

/*Övning 8*/

.green-button {
    background-color: green;
    color: white;
}


/*Övning 9*/

.button-size {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

/*Övning 10*/

.span-flex {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

/*Övning 11*/

.flex-bottom {
    width: 100px;
    height: 100px;
    border: solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/*Övning 12*/

.flex-left {
    width: 100px;
    height: 100px;
    border: solid;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

/*Övning 13*/

.flex-right {
    width: 100px;
    height: 100px;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*Övning 14
    Box och färger bestäms i Övning 6*/


.flex-reverse {
    border: solid;
    display: flex;
    flex-direction: row-reverse;
}

/*Övning 15*/

.flex-column-right {
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*Övning 16*/

.flex-space-between {
    width: 400px;
    border: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.problem {
    width: 100%;
    height: 100px; 
    border: solid; 
    position: relative;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue; 
}

#problem17 > .ball {
    position: absolute;
    right: 0;
    top: 0;
}

#problem18 > .ball {
    position: absolute;
    left: 0;
    bottom: 0;
}

.container {
    border: 1px solid black;
    padding: 10px;
}





