
#problem1 > .problem-area > p {
    color: red;
    font-size: 24px;
}

#problem2 > .problem-area {
    display: flex;
    flex-direction: row;
}

#problem5 > table, th, td {
    border: 2px solid black;
    padding: 5px;
}

#problem7 > .problem-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#problem10 > .problem-area > p {
    position: absolute;
    right: 0;
    bottom: 0;
}

#problem12 .problem-area {
    display: flex;
    flex-wrap: wrap;
}

#problem12 .problem-area .box {
    flex-grow: 1;
}

@media (max-width: 540px) {
    #problem12 .problem-area .box {
        width: 100%;
    }
}

#problem13 > .problem-area {
    display: flex;
    flex-flow: wrap-reverse column-reverse;
    align-content: space-between;
    justify-content: center;
}